<!-- FOOTER -->
    <div class="footer">
        <footer>
            <div class="col-info">
                <h3>LINKS DE UTILIDAD</h3>
                <a href="inicio"> Encuentra a tu mascota </a>
                <a href="adoptar"> Adoptar una mascota</a>
                <a href="nosotros">¿Como funciona?</a>
            </div>

            <div class="col-contact">
                <h3>CONTACTO</h3>
                <p> 201 Alabama Street San Francisco <br> CA 94103 <br> 415.554.3000</p>
                <div class="icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
        </footer>
    </div>

     <!-- FOOTER 2 COPYRIGHT -->
     <p class="copyright"> © 2022, DDCP Partners Inc & Afiliados.</p>