    <!-- MENU DE NAVEGACION -->
    <div class="menu-bar">
        <nav class="menu">
            <ul>
                <li><a href="inicio">INICIO</a></li>
                <li><a href="adoptar">ADOPTAR UNA MASCOTA</a></li>
                <li><a href="nosotros">¿COMO FUNCIONA?</a></li>
            </ul>
        </nav>
    </div>