{{>header}}
    
<!-- MENU DE NAVEGACION -->
{{>menu}}
    
    <!-- ADOPTAR UNA MASCOTA(TEXTO) -->
    <div class="container-adoptar">
        <div class="banner-adoptar">
            <h1> ¿Que considerar antes de adoptar una mascota?</h1>
            <h2> Antes de llevar un nuevo miembro a casa, asegurate de saber bien qué es lo que necesitas.</h2>
        </div>
        <div class="banner-img-adoptar">
            <img src="./images/banneradoptar.jpg" alt="">
        </div>
        <div class="info-adoptar">
            <p>Si eres como la mayoría de nosotros, enamorarte de una mascota es fácil.¡Y no es de extrañar!</p>
            <p>Compartir tu hogar con un amigo de cuatro patas puede ser una de las mejores alegrías de la vida. Los perros, gatos y otras mascotas nos brindan amor incondicional, lealtad y aceptación, brindan compañía constante, e incluso ayudan a aliviar el estrés después de un duro día de trabajo.</p>
            <p>Sin embargo, adoptar una mascota es una gran decisión. Los perros y gatos requieren mucho tiempo, dinero y compromiso—más de 15 años en muchos casos. Tener una mascota puede ser gratificante, pero solo si piensas en tu decisión antes de adoptar un compañero.</p>
            
            <h2>Cosas a considerar</h2>
            <p>El hecho de que estés pensando en adoptar de un refugio de animales significa que vas por el camino correcto, definitivamente es algo responsable y afectuoso. ¡Gracias! Pero aquí hay algunas cosas que deberías considerar primero:</p>
            
            <h3>¿Por qué quieres una mascota?</h3>
            <p>Es increíble cuántas personas no se hacen esta pregunta tan simple antes de tener una mascota. No olvides que las mascotas pueden estar contigo 10, 15, incluso 20 años.</p>
            <h3>¿Tienes tiempo para una mascota?</h3>
            <p>Los perros y gatos no pueden ser ignorados solo porque estás cansado u ocupado. Requieren comida, agua, ejercicio, cuidados y compañía todos los días de cada año.</p>
            <h3>¿Puedes permitirte una mascota?</h3>
            <p>Los costos de tener una mascota pueden ser significativos. Las licencias, clases de entrenamiento, la atención veterinaria, el aseo, los juguetes, la comida, la arena higiénica para gatos y otros gastos pueden sumar rápidamente.</p>
            <h3>¿Estás preparado para hacer frente a los problemas especiales que puede causar una mascota? </h3>
            <p>Muebles rayados, accidentes con animales que aún no están domesticados, pulgas, pelo y emergencias médicas inesperadas son aspectos desafortunados pero comunes al ser dueños de una mascota</p>
            <h3>¿Puedes tener una mascota donde vives? </h3>
            <p>Muchas comunidades de alquiler no permiten mascotas y la mayoría del resto tiene restricciones de especie, raza o tamaño. O bien, permiten mascotas, pero primero debes pagar un depósito por daños causados por mascotas o un alquiler mensual adicional. Asegúrate de conocer las reglas y restricciones antes de traer un animal a casa.</p>
            <h3>¿Es un buen momento para adoptar una mascota? </h3>
            <p>Si tienes niños menores de seis años, por ejemplo, podrías considerar esperar unos años antes de adoptar una mascota. Ser dueño de una mascota requiere niños que sean lo suficientemente maduros para ser responsables. Si eres estudiante, estás en el ejército o viajas con frecuencia como parte de tu trabajo, es prudente esperar hasta que te establezcas.</p>
            <h3>¿El tamaño de tu vivienda es adecuado para el animal que tiene en mente? </h3>
            <p>El tamaño del animal no es la única variable en la que pensar aquí. Por ejemplo, algunos perros pequeños como los terriers son muy activos—requieren mucho ejercicio. Por otro lado, algunos perros grandes están relajados y bastante contentos de estar acostados en un sofá todo el día. Elige un animal que pueda adaptarse a las características de tu vivienda.</p>
            <h3>¿Estas considerando el animal adecuado para tu estilo de vida? </h3>
            <p>Piensa en lo que te gusta hacer, y lo que te gustaría hacer con un animal de compañía. ¿Eres hogareño? ¿Un corredor? ¿Tienes alergias? ¿Te gusta salir a caminar? ¿Tienes muchos amigos con animales? las respuestas a estas y otras preguntas sobre el estilo de vida te ayudarán a determinar la edad, el tamaño, la temperamento y más?</p>
            <h3>¿Serás un dueño responsable? </h3>
            <p>Esto incluye no solo obedecer las leyes y licencias respondientes a tu comunidad, o colocarle placas de identificación a tus mascotas, Es también ser responsable de tu mascota en público y mantenerla segura en casa. Por supuesto, darle amor a tu mascota, compañía, ejercicio, una dieta saludable y atención veterinaria regular son otros elementos esenciales.</p>
            <h3>Finalmente, ¿está preparado para tener y cuidar a tu mascota durante toda su vida? </h3>
            <p>Cuando adoptas una mascota, te comprometes a cuidar al animal para toda la vida. Compartir tu vida con un animal de compañía puede traer increíbles recompensas, pero solo si estás dispuesto a hacer los compromisos necesarios de tiempo, dinero, responsabilidad y amor—por la vida de la mascota.</p>
            <p>Si necesitas ayuda para responder alguna de estas preguntas importantes, visita tu refugio de animales local, habla con uno de los consejeros de adopción del refugio y conoce a algunos de los animales disponibles. Toma el tiempo que consideres necesario antes de llevar a cabo una decisión que traerá toda una vida de recompensas, para ti y tu mascota</p>
        </div>
    </div>

<!-- FOOTER 1 Y 2 -->
{{>footer}}

</body>
</html>