<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>PET FINDER - ADOPTA UNA MASCOTA</title>
</head>

<body>
    <div class="container-enviado text-center position-absolute top-50 start-50 translate-middle">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Formulario enviado!</h4>
            <p>El formulario fue enviado satisfactoriamente, a la brevedad el refugio donde se encuentra la mascota se pondra en contacto contigo.</p>
            <hr>
            <p class="mb-0">Si tienes alguna duda o sugerencia no dudes en contactarnos.</p>
            <button type="button" class="btn btn-link" onclick="location.href='inicio';">Volver a inicio</button>
        </div>

    </div>

    <!--Script de la libreria POPPER y los archivos JS propios de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>