{{>header}}

<!-- MENU DE NAVEGACION -->
{{>menu}}

    <!-- BARRA DE BUSQUEDA -->
    <div class="container">
        <div class="ct">
        <h1>Encuentra tu mascota perfecta</h1>
        <h3>Busca perros y gatos disponibles en adopcion</h3>
        </div>
        <div class="search-bar">
            <div id="select" class="boton-barra">
                <button type="submit" class="boton-perro" id="list" onclick="location.href= 'perros';">Perros</button> 
                <button type="submit" class="boton-gato" id="list" onclick="location.href= 'gatos';">Gatos</button> 
                <button type="submit" class="boton-todos" id="list" onclick="location.href= 'mascotas';">Todas las macotas</button>
                <button type="submit" class="boton-todos" id="list" onclick="location.href= 'detalles';">Refugios</button>  
            </div>
        </div>
    </div>

    <!-- TIPS DE ADOPCION (TEXTO) -->
    <div class="container-tips">
        <header class="header-tips">
            <h1>Tips para la adopcion de mascotas</h1>
        </header>

        <section class="contenido-tips">
            <div class="column-tips">
                <section class="img-col-tips">
                <img src="./images/mike-burke-gxyfJQg7Lno-unsplash.jpg" class="col-images-tips">
                </section>
                <h2>¿Por que adoptar y no comprar?</h2>
                <p>La adopción de mascotas se está convirtiendo rápidamente en la forma preferida de encontrar un nuevo perro o gato, y con razón, adoptar una mascota tiene muchos beneficios. Es probable que encuentres una mascota que ya haya aprendido algunas cosas, la mayoria a menudo ya están domesticadas, son buenas con los niños y les va bien con otras mascotas. ¡Y no olvides la maravillosa sensación que tienes al salvar una vida! </p>
            </div>

            <div class="column-tips">
                <section class="img-col-tips">
                <img src="./images/andrew-s-ouo1hbizWwo-unsplash.jpg" class="col-images-tips">
                </section>
                <h2>¿Como encontrar la mascota perfecta para ti?</h2>
                <p>¿Sabes qué tipo de personalidad de mascota estás buscando? Encontrar la mascota ideal para su hogar debe comenzar por comprender la personalidad que mejor se adapta a su estilo de vida, no necesariamente una raza específica. Considera esto, ¿necesitas un perro que sea discreto? ¿Quizás un gato que se lleva bien con los demás?. Considera todos los factores necesarios antes de decidir adoptar </p>
            </div>
        </section>

    </div>

<!-- FOOTER 1 Y 2 -->
{{>footer}}


    

</body>
</html>