{{>header}}
    
<!-- MENU DE NAVEGACION -->
{{>menu}}

<!-- SOBRE NOSOTROS -->
<div class="container-nosotros">
    <header class="header-nosotros">
        <h1>¿Que es Pet Finder?</h1>
    </header>

    <section class="contenido-nosotros">
        <div class="column-nosotros">
            <h2>Sobre nosotros</h2>
            <p>Pet Finder es una base de datos de búsqueda en línea de perros y gatos que se encuentran en Buenos Aires y necesitan un hogar.</p>
            <p>Nuestra misión es utilizar la tecnología de Internet y los recursos que puede generar para:</p>
            <div class="lista-nosotros">
                <ul>
                    <li>Aumentar la conciencia pública sobre la disponibilidad de mascotas adoptables de alta calidad.</li>
                    <li>Elevar el estatus de las mascotas al de miembro de la familia.</li>
                </ul>
            </div>
            <p>Desde la comodidad de sus computadoras personales, los amantes de las mascotas pueden buscar la mascota que mejor se adapte a sus necesidades.</p>
            <h2>¿Como funciona?</h2>
            <p>Haz click sobre el tipo de mascota que quieres.</p>
            <p>Luego podras ver las fotos y detalles de las mascotas que coinciden con tu busqueda.</p>
            <p>Si estas interesado en la adopcion de alguna de ellas, haz click en Inicia tu consulta y llena el formulario de contacto.</p>
            <p>Una vez enviado el formulario el refugio donde se encuentra la mascota se pondrá en contacto contigo para coordinar los pasos a seguir.</p>
            <h2>Aclaraciones</h2>
            <p>Petfinder es solo un directorio de mascotas sin hogar en Buenos Aires.</p>
            <p>Es crucial que cualquier mascota encontrada a través de un servicio de adopción sea examinada minuciosamente por un veterinario inmediatamente después de la adopción.</p>
            <p>Cualquier mascota encontrada en Petfinder y posteriormente adoptada, es responsabilidad exclusiva de las organizaciones de adopción y/o de la parte adoptante.</p>
            <p>Petfinder no acepta ninguna responsabilidad por cualquier lesión o daño a cualquier persona o propiedad causados por cualquier animal mostrado, así como cualquier causa de acción, reclamo, juicio o demanda que pueda surgir como resultado de dicha lesión o daño.</p>
        </div>

        <div class="column-nosotros">
            <h2>Requisitos para iniciar el proceso de adopcion</h2>
            <p>Aunque pueden variar dependiendo del refugio, estos son los requisitos minimos para adoptar una mascota: </p>
            <div class="lista-nosotros">
                <ul>
                    <li>Presentar DNI</li>
                    <li>Ser mayor de 21 años</li>
                    <li>Vivir en Buenos Aires</li>
                </ul>
            </div>
            <section class="img-col-nosotros">
            <img src="./images/adoptadog.jpg" class="col-images-nosotros">
            </section>
        </div>
    </section>
</div>
    
<!-- FOOTER 1 Y 2 -->
{{>footer}}

</body>
</html>